<html>

<head>
    <title>Bezahlseite</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>


<body >
    <div class="text">
        Du hast folgende Kleidungsstücke in deinen Warenkorb gelegt. <br><br>
        Möchtest du diese Artikel jetzt kaufen?
    </div>
    <br><br>
    <div class="bestaetigung">
            <input type="button" onclick="location.href='{{url_for('.verabschiedung')}}';" value="Ja" /> <!-- Hier noch den Link einfügen -->
            <input type="button" onclick="location.href='{{url_for('.kleidungsabfrage')}}';" value="Nein" />
    </div>

</body>

</html>
