<html>

<head>
    <title>Begrüssung</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>

<body>
    
    <div class="Begruessungstext">
            HALLO, WIE HEISST DU?
    </div>
    
    <div class="Abfrageeins">
        <form method="POST">
            <input type="text" name="vorname" size="50">
            <button type="submit">Send</button>
        </form>
    </div>

</body>

</html>
