<html>

<head>
    <title>Startseite</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>

<body>
    
    <div class="Begruessungstext">
            Willkommen, auf meinem Online-Shop!<br>
            Wie heisst du? 
    </div>
    
    <div class="Abfrageeins">
        <form method="POST">
            <!--Abfrage des Namen durch eine Text Box mit einem Submit Button.-->
            <input type="text" name="vorname" size="50">
            <button type="submit">Weiter</button>
        </form>
    </div>

</body>

</html>
