<html>

<head>
    <title>Kleidungsabfrage</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css"/>


</head>


<body>
<div class="container_abfrage">
    <div class="Kleiderabfrage">
        <!--Begrüssung mit Refernz auf den eingegeben Namen-->
        Hallo {{vorname}} <br>
        Für welche Artikel
        interessierst du dich?<br>
    </div>
    <br><br>
        <form method="POST" action="{{url_for('.add_to_cart')}}">
<table border="1"> 
  <tr> <!--definiert row /neue Zeile-->
    <td> <!--definiert Zelle -->
       
    </td>
    <td>
       Hosen
    </td>
    <td>
      Jacken
    </td>
    <td>T-Shirts</td>
  </tr>
    <tr>
    <td>S</td>
    <!--Tabelle mit allen Checkboxen, "name" der Checbox einheitlich und "value" unterschiedlich. Value muss unterschiedlich sein, damit es aus der Datenbank die Daten richtig ziehen kann -->
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="hosen_s" ></td> 
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="jacken_s" ></td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="tshirts_s" ></td>
  </tr>
  <tr>
    <td>M</td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="hosen_m" ></td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="jacken_m" ></td>
    <td> <form method="POST">
            <input type="checkbox" name="artikel_filter" value="tshirts_m" ></td>
  </tr>
  <tr>
    <td>L</td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="hosen_l" ></td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="jacken_l" ></td>
    <td><form method="POST">
            <input type="checkbox" name="artikel_filter" value="tshirts_l" ></td>
  </tr>
        </form>
</table>
<br>
    
<input type="submit" value="Artikel filtern" />
</div>
       
    
   
</body>

</html>