<html>

<head>
    <title>Seite2</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css"/>


</head>





<body>
    <div class="Titel">Sind die aufgeführten Kleidungsstücke die Richtigen?</div>
        <br>
        <br>
        <div class="auswahl">
            <img src="../static/1008.jpeg" alt="Selfhtml" height="300px" width="200px"> <br>
            Preis: <br>
            Grösse: <br>
            Farbe: <br>
                
        </div>
        <div class="entscheidung">
            <input type="button" onclick="location.href='seiteeins.html';" value="Zum Warenkorb hinzufügen" /> <!-- Hier noch den Link einfügen -->
            <input type="button" onclick="location.href='seitezwei.html';" value="Nein, neue Auswahl treffen" />
        </div>
    <div>

        
    </div>

    
    </div>

</body>

</html>
