<html>

<head>
    <title>About myself - Selina Marty</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css"/>


</head>


<body>
    <div class="Titel">Sind die aufgeführten Kleidungsstücke die Richtigen?</div>
    <form method="POST">
            <input type="checkbox" name="Kleidungsstücke" size="50">
            <br>
             <button type="submit">Ja</button>
    </form>
    <br>
    <form method="POST">
            <input type="checkbox" name="Kleidungsstücke" size="50">
            <br>
             <button type="submit">Nein</button>
    </form>
    <div>

        
    </div>

    
    </div>


</body>

</html>
