<html>

<head>
    <title>Seite1</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css"/>
</head>


<body>
    <div class="Kleiderabfrage">
        Hallo <br>
        Für welche Kleidungsstücke
        interessierst du dich?<br>
    </div>
    <br><br>

    <div class="Tabelle">
        <table border="1">
            <tr>
                <td></td>
                <th>
                    Hosen
                </th>
                <th>
                    Jacken
                </th>
                <th>
                    T-Shirts
                </th>
            </tr>
            <tr>
                <th>
                    S
                </th>
                <td>
                    <input type="checkbox" name="1003" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1002" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1006" size="50">
                </td>
            </tr>
            <tr>
                <th>
                    M
                </th>
                <td>
                    <input type="checkbox" name="1004" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1000" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1007" size="50">
                </td>
            </tr>
            <tr>
                <th>
                    L
                </th>
                <td>
                    <input type="checkbox" name="1005" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1001" size="50">
                </td>
                <td>
                    <input type="checkbox" name="1008" size="50">
                </td>
            </tr>
        
    </div>
    <div>
            <form method="POST">
            <button type="submit">Send</button>
        </form>
    </div>
</body>

</html>
