<html>

<head>
    <title>About myself - Selina Marty</title>
    <meta chartset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>


<body>
    <div class="Kleiderabfrage">
        Für welche Kleidungsstücke
        interessierst du dich?
    </div>


</body>

</html>
