<html>

<head>
    <title>Warenkorb</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="description" content="Begrüssungs-Seite">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="date" content="01.11.2018">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>

<body >
    <div class= "text">
        Bitte trage deine Adresse und E-Mail Adresse ein:
    </div>
        <br>

    <div class="Volleadresse">
        <form>
            <label>E-Mail: 
                <br>
                <input type="email" name="email" size="50">
            </label>
        </form>
                
        <form method="POST">
            <label>Name und Vorname
                <br>
                <input type="text" name="name_vorname" size="50">
            </label>
        </form>

        <form method="POST">
            <label>Strasse und Hausnummer
                <br>
                <input type="text" name="adresse" size="50">
            </label>
        </form>

        <form method="POST">
            <label>Wohnort und PLZ
                <br>
                <input type="text" name="wohnort" size="50">
            </label>
        </form>

        <form method="POST">
            <label>Schweiz
                <input type="checkbox" name="schweiz" size="50">
            </label>
            <label>Deutschland
                <input type="checkbox" name="deutschland" size="50">
            </label>
            <label>Österreich
                <input type="checkbox" name="deutschland" size="50">
            </label>
            <br><br>
            <button type="submit">Send</button
        </form>
    </div>
    

</body>

</html>
