<html>

<head>
    <title>Warenkorb</title>
    <meta charset="utf-8">
    <meta name="author" content="Selina Marty">
    <meta name="keywords" content="Homepage, HTML, WWW, WINF, IW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="browser" conent="Chrome">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Browser: Google Chrome -->

    <link rel="stylesheet" href="../static/main.css" type="text/css" />


</head>

<body >
    <div class="bestaetigung">
        Möchtest du diese Artikel jetzt kaufen?<br>
    </div>
<div class="warenkorbbox">
	
		<div class="row">
			{% for key, value in articles.iterrows() %} <!-- Schleife die die Zeilen der ausgwählten Artikel durchläuft -->
			<div class="col-md-12"/> <!-- Festlegung der Spaltenbreite md-12 = gesamte Breite-->
			<div class="card_warenkorb">
				<img src="../static/{{value['bilder']}}" style="width: 60%" />
				<p>{{value['artikel']}} {{value['groesse']}}</p><!--Artikelname und Grösse der entsprechenden Zeile werden ausgegeben -->
				<p class="price"> {{value ['preis']}} CHF </p><!-- Preis der entsprechenden Zeile wird ausgegeben -->
			</div>

		</div>
		    {% endfor %}<!-- Ende der Schleif. Anzahl der Schleifendurchläufe abhängig von der Anzahl Artikel -->

    <div class="summe">
        <p><b>Summe ({{Anzahl_Art}} Artikel): {{sum}} CHF</b></p> <!--Um die Gesamtkosten exkl. Versandkosten und die Anzahl Artikel anzuzeigen-->
   </div>
<br>
    
</div>
    <div class="auswahlbestätigen">
        <input type="button" onclick="location.href='{{url_for('.adressdaten')}}';"value="Auswahl bestätigen und zur Bezahlseite gehen"/> <!--Mit dem Klick auf den Button "Auswahl bestätigen und zur Bezahlseite gehen" wird die URL der Funktion ".adressdatem" aufgerufen-->
   </div> 
    </div>
</body>

</html>
