

.Begruessungstext {
    margin-top: 20%;
    margin-left: 40%;
    font-size: 20pt;
    font-family: 'Spartan';
}

.Kleiderabfrage {
    font-size: 20pt;
    margin-left: 2%;
    margin-top: 100;
    font-family: 'Spartan';
}
.Abfrageeins {
    margin-top: 20pt;
    margin-left: 20pt;
    font-family: 'Spartan'

}
h1 {
    font-family: 'Spartan'
}
h3 {
    font-family: 'Spartan'
}

.Titel {
    font-size: 20pt;
    font-family: 'Spartan';
}

.Warenkorb {

}