
.Begruessungstext {
    margin-top: 20%;
    margin-left: 40%;
    font-size: 20pt;
    font-family: 'Spartan';
}

.Kleiderabfrage {
    font-size: 20pt;
    margin-top: 2%;
    margin-left: 2%;
    font-family: 'Spartan';
}
.Abfrageeins {
    margin-top: 20pt;
    margin-left: 20pt;
    font-family: 'Spartan'

}
.Titel {
    font-size: 20pt;
    margin-left: 2%;
    font-family: 'Spartan';
}

.Volleadresse {
    margin-left: 2%;
    font-family: 'Spartan';
    font-size: 10pt;
}
.text {
    font-size: 20pt;
    font-family: 'Spartan';
    margin-top: 20pt;
    margin-left: 2%;
}

.Tabelle {
    font-family: 'Spartan';
    margin-left: 2%;
}

.Warenkorb{
    font-family: 'Spartan';
    margin-left: 2%;
}